@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-app {
    background-image: url('/assets/images/bg.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.shadow-logo,
.hover-shadow {
    transition: all 0.3s ease-in-out;
}

.shadow-logo:hover {
    filter: drop-shadow(0 0 10px #00463d);
}

.shadow {
    box-shadow: 0 0 20px 0 #14b8a6;
}

.hover-shadow:hover {
    box-shadow: 0 0 20px 0 #14b8a6;
    color: #14b8a6;
}