@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bg-app {
    background-image: url('/assets/images/bg.webp');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.shadow-logo,
.hover-shadow {
    transition: all 0.3s ease-in-out;
}

.shadow-logo:hover {
    filter: drop-shadow(0 0 10px rgb(0, 70, 61));
}

.shadow {
    box-shadow: 0 0 20px 0 rgb(20 184 166);
}

.hover-shadow:hover {
    box-shadow: 0 0 20px 0 rgb(20 184 166);
    color: rgb(20 184 166);
}